.paginationBttns {
    list-style: none;
    height: 60px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .paginationBttns a {
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    background-color: #44AAEE;
    margin: 5px;
    transition: 0.4s;
    color: #FFF;
    font-size: 25px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  
  .paginationBttns a:hover {
    background-color: #44EEAA;
  }
  
  .paginationActive a {
    background-color: #44EEAA;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  
  .paginationDisabled a {
    background-color: #44AAEE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }