.buttonsBar button {
    position: relative;
    width: 20%;
    left: 76.5%;
    height: 30px;
    border-radius: 100px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 12px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    align-items: center;
    justify-content: space-between;
    display: inline;
  }


  /* .buttonsBar div {
    background-color: #000000;
    height: 50px;
    width: 70%;
    margin-bottom: 6px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
}
  
.buttonsBar div span {
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
} */